fastapi 
uvicorn 
sqlalchemy 
pymysql
twilio
chromadb
langchain-google-genai
langchain_community
langchain_core
langchain_openai
psycopg2-binary
python-multipart
pyngrok
langchain
openai
python-decouple
passlib
markdown2
pydantic[email]
Pillow
bcrypt
mysqlclient
